pool:
  vmImage: 'ubuntu-latest'

variables:
  TF_VERSION: '1.9.5'
  ARM_CLIENT_ID: '$(servicePrincipalId)'
  ARM_CLIENT_SECRET: '$(servicePrincipalKey)'
  ARM_SUBSCRIPTION_ID: '$(subscriptionId)'
  ARM_TENANT_ID: '$(tenantId)'

stages:
- stage: Terraform_Destroy
  displayName: "Terraform Destroy Stage"
  jobs:
  - job: Destroy
    displayName: "Destroy Terraform Resources"
    steps:
    - checkout: self

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: '$(TF_VERSION)'

    - script: |
        echo "Logging in to Azure..."
        az login --service-principal \
          -u $(servicePrincipalId) \
          -p $(servicePrincipalKey) \
          --tenant $(tenantId)
      displayName: "Azure Login"

    - script: |
        echo "Initializing Terraform..."
        terraform init -input=false
        echo "Destroying resources..."
        terraform destroy -auto-approve
      displayName: "Terraform Init & Destroy"